<div class="join-container">
    <div class="input-group">
        <label class="input-group-text">Utwórz nowy pokój</label>
        <button type="button"
            class="btn btn-outline-secondary flex-grow-1"
            [attr.disabled]="isConnecting?'':null"
            (click)="goToNewRoom()">Utwórz</button>
    </div>
    <div class="d-flex align-items-center">
        <hr class="flex-grow-1">
        <span class="mx-1">lub</span>
        <hr class="flex-grow-1">
    </div>
    <form #myForm="ngForm" (submit)="goToSelectedRoom()">
        <div class="d-inline-block">
            <div class="input-group">
                <label class="input-group-text">Dołącz do pokoju nr</label>
                <input type="number" class="form-control room-id-input"
                    name="roomId" [(ngModel)]="roomIdStr">
                <button class="btn btn-outline-secondary join-btn"
                    type="submit"
                    [attr.disabled]="isConnecting?'':null">Dołącz</button>
            </div>
        </div>
    </form>
    <p *ngIf="errorMessage" class="mb-0 mt-1 text-danger">{{errorMessage}}</p>
</div>