.room-id-input {
    width: 6rem;
}

.join-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: max-content;
    max-width: 100%;
}

.join-btn {
    flex-grow: 1;
}