.main-container {
    display: grid;
    grid-template-columns: max-content minmax(auto, 1fr);
    grid-template-rows: auto minmax(auto, 1fr);
    grid-template-areas:
        "title title"
        "join rules";
    height: 100%;
    gap: 1em;
    overflow: auto;
}

.game-title {
    grid-area: title;
}

.room-selector {
    grid-area: join;
    width: min-content;

    .board {
        max-width: 100%;
        max-height: 100%;
    }

    .selector-input {
        max-width: 100%;
    }

}

.rules {
    grid-area: rules;
    height: 100%;

    .rules-carousel {
        height: 100%;
        display: flex !important;
        flex-direction: row;
        align-items: center;
        max-width: 30rem;
    }

    img {
        max-width: 100%;
        max-height: 100%;
    }

    .rules-image {
        margin: auto;
    }

    .rule-img-wrap {
        display: flex;
        justify-content: center;
        max-width: 500px;
    }


    .caption {
        text-align: center;

        &>p:first-of-type {
            line-height: 1.5em;
            min-height: 3em;
        }
    }
}

@media (max-width: 699.98px) {
    .main-container {
        grid-template-rows: auto auto minmax(auto, 1fr);
        grid-template-columns: 100%;
        grid-template-areas:
            "title"
            "join"
            "rules";
        justify-items: center;
    }

    .room-selector {
        width: 100%;
        align-items: center;

        .board {
            max-width: min(50vh, 100%);
        }
    }

    .rules {
        width: 100%;

        .rules-carousel {
            max-width: unset;
        }

        .rules-image {
            max-width: 30rem;
        }
    }
}