<div class="game-container">
    <div class="room-head">
        <h2 class="game-title">Alea evangelii</h2>
        <span *ngIf="roomId">Pokój {{roomId}}</span>
        <a [routerLink]="['..']">Powrót</a>
    </div>

    <ng-container *ngIf="error">
        <span class="board">Serwer odrzucił połączenie: {{error}}</span>
    </ng-container>

    <ng-container *ngIf="!error">
        <app-alea-evangelii-board class="board shadow" [game]="game">
        </app-alea-evangelii-board>

        <!-- ACTUAL CONTENT -->
        <ng-container *ngIf="game">
            <div class="game-stats shadow">
                <h4 class="now-playing-heading">Teraz gra:</h4>
                <div class="now-playing-box">
                    <div class="player-token now-playing" [ngClass]="{'your-move':game.nowPlaying==game.playingAs}">
                        <div class="piece" [ngClass]="game.nowPlaying"></div>
                    </div>
                </div>
                <div class="you-are-wrap">
                    Ty jesteś:
                    <div class="player-token inline-player-token">
                        <div class="piece" [ngClass]="game.playingAs"></div>
                    </div>
                </div>
            </div>
        </ng-container>

        <!-- PLACEHOLDER -->
        <ng-container *ngIf="!game">
            <div class="game-stats shadow placeholder-glow">
                <h4 class="now-playing-heading">Teraz gra:</h4>
                <div class="now-playing-box">
                    <div class="player-token now-playing placeholder">
                        <div class="piece defender"></div>
                    </div>
                </div>
                <div class="you-are-wrap">
                    Ty jesteś:
                    <div class="player-token inline-player-token placeholder">
                        <div class="piece" [ngClass]="preferredPlayer??'defender'"></div>
                    </div>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>