<div class="board-frame" *ngIf="game && fields">
    <!-- ACTUAL CONTENT -->
    <div class="board" [ngStyle]="{'--board-width': game.board.width, '--board-height': game.board.height}">
        <ng-container *ngFor="let field of fields; let index = index;">
            <div class="field"
                [ngClass]="{'forbidden-field': field.isCorner, 'can-move-to': field.canPieceBeMovedTo}"
                [ngStyle]="{'grid-row': field.row+1, 'grid-column': field.column+1}"
                (click)="field.moveTo()">
            </div>

            <div *ngIf="field.piece"
                class="piece {{field.piece}}"
                [ngClass]="{'selectable': field.canPieceBeMovedFrom, 'selected': field.isSelected}"
                [ngStyle]="{'grid-row': field.row + 1, 'grid-column': field.column + 1}"
                (click)="field.select()">
            </div>
        </ng-container>
        <div *ngIf="arrow && arrow.isDefined && arrow.start"
            class="arrow-box"
            [ngStyle]="{
                '--arrow-start-col': arrow.start.column+1,
                '--arrow-start-row': arrow.start.row+1,
                '--arrow-length': arrow.length,
                '--arrow-angle': arrow.angle+'rad'
            }">
            <div class="arrow"></div>
        </div>
    </div>
    <div *ngIf="gameResult"
        class="game-result"
        [ngClass]="{'winner':isWin, 'loser':!isWin}">
        <h3 class="display-4 game-result-title">
            {{isWin?'Zwycięstwo':'Przegrana'}}
        </h3>
    </div>
</div>

<div *ngIf="!(game&&fields)" class="placeholder-glow">
    <div class="board-frame placeholder d-block">
        <!-- PLACEHOLDER -->
        <div class="board" [ngStyle]="{'--board-width': 19, '--board-height': 19}">
            <ng-container *ngFor="let field of placeholderFields; let index = index;">
                <div class="field"
                    [ngClass]="{'forbidden-field': field.isCorner, 'can-move-to': field.canPieceBeMovedTo}"
                    [ngStyle]="{'grid-row': field.row+1, 'grid-column': field.column+1}"
                    (click)="field.moveTo()">
                </div>
            </ng-container>
        </div>
        <div class="game-loading">
            <h3 class="display-4 game-loading-title">
                Łączenie...
            </h3>
        </div>
    </div>
</div>