@use "crossed-square.scss" as cross;
@use "pieces.scss" with ($piece-zindex: 1);

@import url('https://fonts.cdnfonts.com/css/norse');

$field-zindex: 0;
$selected-piece-zindex: 2;
$selecting-piece-zindex: 3;

.board-frame {
    --borders: #461f0f;
    background-color: #c5763e;
    padding: 20px;
    border: solid 3px var(--borders);
    position: relative;
}

.game-result,
.game-loading {
    position: absolute;
    z-index: 10;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.winner {
        color: var(--bs-success);
    }

    &.loser {
        color: var(--bs-danger);
    }

    .game-result-title,
    .game-loading-title {
        font-weight: 700;
        text-shadow: 0 0 4px white, 0 0 2px black, 0 0 5px currentColor;
    }
}

.game-loading .game-loading-title {
    color: white;
}

.board {
    display: grid;
    grid-template-columns: repeat(var(--board-width), minmax(0, 1fr));
    grid-template-rows: repeat(var(--board-height), minmax(0, 1fr));
    gap: 3px;
    background-color: var(--borders);
    border: solid 3px var(--borders);
    isolation: isolate;
}

.field {
    z-index: $field-zindex;
    background-color: #daa764;
    aspect-ratio: 1;

    &.forbidden-field {
        background-color: #bd5e58;
        @include cross.crossed-square(3px, var(--borders));
    }

    &.can-move-to {
        filter: brightness(125%)
    }

    &.can-move-to:hover {
        filter: brightness(150%)
    }
}

.piece.selectable:hover,
.piece.selected {
    z-index: $selected-piece-zindex;
    transform: translate(20%, -10%);
    box-shadow: var(--border-shadow), -2px 2px 4px 1px var(--shadow-color);
}

.piece.selectable:hover {
    z-index: $selecting-piece-zindex;
}