$piece-zindex: 1 !default;

.piece {
    z-index: $piece-zindex;
    border-radius: 50%;
    position: relative;
    --shadow-color: black;
    --border-shadow: -1px 1px 3px -1px white;
    box-shadow: var(--border-shadow), -1px 1px 4px var(--shadow-color);
    transition: transform .25s;

    &::before {
        content: '';
        border-radius: 50%;
        position: absolute;
    }
}

.piece.attacker {
    $piece-color: #301900;
    $accent-color: #d5d6be;
    $piece-border: 3px;
    background-color: $piece-color;
    border: solid $piece-border $piece-color;

    &::before {
        background-color: $accent-color;
        box-shadow: 0 0 4px $accent-color;
        width: 80%;
        height: 90%;
        top: 50%;
        transform: translateY(-50%);
    }

    &::after {
        content: '';
        border-radius: 50%;
        position: absolute;
        background-color: $piece-color;
        box-shadow: 0 0 4px $piece-color;
        width: 85%;
        height: 85%;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.piece.defender {
    $piece-color: #eeeed9;
    background-color: #d2d4bc;

    &::before {
        background-color: $piece-color;
        width: 90%;
        height: 90%;
        right: 0;
    }
}

.piece.commander {
    @extend .defender;
    container-type: inline-size;

    &::after {
        color: black;
        content: '♔';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight: 800;
    }
}

@container (width>30px) {
    .piece.commander::after {
        font-size: 25px
    }
}

@container (width>40px) {
    .piece.commander::after {
        font-size: 33px
    }
}

@container (width>50px) {
    .piece.commander::after {
        font-size: 40px
    }
}