.page {
    height: 100%;

    background-color: #e4dfcf;
    padding: .5rem 0;
}

@media (prefers-color-scheme:dark) {
    .page {
        background-color: #403e3d;
    }
}

@media (min-width: 500px) {
    .page {
        padding: 1rem .5rem;
    }
}

@media (min-width: 600px) {
    .page {
        padding: 1rem;
    }
}